*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/*Style for Preloader*/
#preLoader{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}  
/*Style for preloader end*/

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, gold);
    border-radius: 50px;
}

.body{
    width: 95%;
    height: 90vh;
    background: url(../bg.jpg) center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 5px 5px 10px, 5px 5px 10px inset;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.mobile-nav-toggler{
    display: none;
    position: absolute;
    color: gold;
    font-size: 40px;
    margin-top: 5px;
    margin-left: 13px;
    z-index: 50;
}

.body .sidebar{
    width: 20%;
    height: 100%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    font-size: 50px;
    color: #fff;
    padding: 7px 0;
    cursor: pointer;
}

.sidebar ul li:hover, .sidebar ul li:focus{
    color: yellow;
}

.body .content{
    width: 80%;
    height: 100%;
    border: 2px solid #fff;
    border-left: none;
    padding: 15px;
    overflow-y: scroll;
}

.content #homePage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-items{
    text-align: center;
}

.landing-items h1{
    font-size: 100px;
    font-family: 'Lalezar', cursive, sans-serif;
    font-weight: 900;
    color: #fff;
    text-shadow: 4px 4px 4px red;
    letter-spacing: 5px;
}

.landing-items h6{
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px rgb(255, 0, 157), 0 0 15px gold;
    letter-spacing: 5px;
}

/*About Page*/
.profile-img{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #000;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.4);
}
.profile-img img{
    width: 100%;
    opacity: .6;
}
.about-detail{
    font-size: 19px;
}
.social-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.social-container div{
    margin: 0 8px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background: grey;
    border-radius: 50px;
    transition: ease .4s;
}
.social-container a i{
    color: #fff;
    text-decoration: none;
}
.social-container .facebook:hover{
    background-color: blue;
}
.social-container .instagram:hover{
    background-color: violet;
}
.social-container .twitter:hover{
    background-color: teal;
}
.social-container .git:hover{
    background-color: black;
}
.social-container .youtube:hover{
    background-color: red;
}

#aboutPage h2{
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}

.teamMem .profile{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.teamMem .profile img{
    width: 100%;
    height: 100%;
    opacity: .7;
}
.teamMem .profile-info{
    padding: 10px;
    color: #fff;
    top: 0;
    width: 100%;
    display: none;
}
.teamMem .profile-info{
    font-family: 'Dancing Script', cursive;
}

/*Service Page*/
.service-div-main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-btn{
    width: 100%;
}
.service-div-toggle{
    color: #fff;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}
.service-div-toggle.open{
    display: none;
}
.service-img{
    height: 120px;
    width: 120px;
    margin: 30px auto;
    background: #fff;
    transform: rotate(45deg);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-img img,.service-img i{
    height: 85px;
    width: 85px;
    transform: rotate(-45deg);
}
.service-img i{
    color: teal;
    font-size: 80px;
    text-align: center;
}

/*port-img*/
.port-img{
    width: 100%;
    padding: 10px;
}
.port-img img{
    height: 230px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}
.port-img::before{
    content: attr(label);
    position: absolute;
    padding: 2px 10px;
    border-radius: 4px;
    background: teal;
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
    font-size: 15px;
    z-index: 50;
}
.portfolio-img-toggle{
    width: 100%;
    color: #fff;
    display: block;
    background: rgba(0, 0, 0, 0.9);
    padding: 5px;
    border-radius: 0 0 10px 10px;
}
.portfolio-img-toggle.open{
    display: none;
}
.portfolio-img-toggle a{
    text-decoration: none;
}


/*Experineces*/
.exp-title-btn{
    border-radius: 0;
}
.exp-para{
    color: #111;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}
.exp-para.toggle{
    display: none;
}

.skill{
    display: flex;
    flex-direction: column;
}
.skill label{
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
}
.skill-bar{
    height: 16px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    border-radius: 2px;
}
.skill-bar-inner{
    height: 16px;
    width: var(--widthPercent);
    background: teal;
    text-align: center;
    color: gold;
    font-size: 12px;
    font-weight: 900;
    border-radius: 2px;
}

/*Contact Section*/
#contactPage{
    margin: 0;
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}
.contact-paragraph{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-paragraph p{
    color: rgba(255, 255, 255, 0.794);
}
.contact-form label{
    color: teal;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 2px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form select{
    outline: none;
    border: none;
    background: none;
    height: 30px;
    border-radius: 4px;
    padding: 0 8px;
    border-bottom: 1px solid #fff;
    color: rgba(255, 255, 255, 0.555);
    transition: .4s linear;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form select:focus,
.contact-form textarea:focus{
    border-bottom: 2px solid teal;
}
.contact-form textarea{
    padding: 5px 8px;
    outline: none;
    background: none;
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid #fff;
    color: rgba(255, 255, 255, 0.555);
}

/*Footer*/
.footer{
    position: absolute;
    bottom: -10px;
}

.footer p{
    font-size: 11px;
    color: #555;
    letter-spacing: 1px;
}


/*Reusable*/
.section-title{
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    user-select: none;
}
.section-sub-title{
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 20px;
    background: #fff;
    color: #222;
    width: fit-content;
    padding: 2px 20px;
    border-radius: 50px 0 50px 0;
    user-select: none;
}
.section-sub-title-of-about{
    padding: 0 50px;
}


@media screen and (max-width:925px){
    .service-img{
        height: 100px;
        width: 100px;
    }
    .service-img img{
        height: 60px;
        width: 60px;
    }
}


@media screen and (max-width:768px){
    .service-img{
        height: 80px;
        width: 80px;
    }
    .service-img img{
        height: 60px;
        width: 60px;
    }
    .service-img i{
        font-size: 60px;
        padding: 10px;
    }
    .profile-img{
        margin-top: 50px;
    }
    .port-img img{
        height: 160px;
    }
    .service-div button,
    .experinece-div button{
        font-size: 17px;
        padding: 15px 0;
    }
}


@media screen and (max-width:600px){
    ::-webkit-scrollbar{
        width: 5px;
    }
    .mobile-nav-toggler{
        display: block;
    }
    .sidebar ul li{
        padding: 10px 0;
    }
    .body .content{
        padding: 15px 0px;
    }
    .landing-items h1{
        font-size: 50px;
    }
    .landing-items h6{
        margin-top: 20px;
        font-size: 14px;
    }
    .sidebar ul li{
        font-size: 35px;
    }
    .section-title{
        font-size: 30px;
    }
    .section-sub-title{
        font-size: 14px;
    }
    .profile-img{
        margin-top: 0;
    }
    .about-detail{
        margin-top: 20px;
    }
    #aboutPage h2{
        font-size: 30px;
    }
    .service-div-toggle{
        display: none;
    }
    .service-div-toggle.open{
        display: block;
    }
    .service-div button,
    .experinece-div button{
        font-size: 17px;
        padding: 15px 0;
    }
    .port-img{
        padding: 10px 0;
    }
    .port-img::before{
        padding: 2px 5px;
        font-size: 12px;
        margin-top: 5px;
        margin-left: 5px;
    }
    .port-img img{
        height: 100%;
    }
    .contact-paragraph{
        padding: 0;
    }
}
